* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(#1f3756, #141539);
  background-repeat: no-repeat;
  height: 100vh;
  padding: 5%;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attribution {
  margin-top: 5vh;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 3px #606e85;
  border-radius: 10px;
  width: 100%;
}

.logo__img {
  width: 70%;
}

.score-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddd;
  width: 25%;
  border-radius: 5px;
}

.score-panel__txt {
  color: #213799;
  text-transform: uppercase;
  font-size: 0.81rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.score-panel__score {
  font-size: 3rem;
  font-weight: 700;
  color: #3b4363;
}

.game-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/bg-triangle.svg");
  width: 100%;
  max-width: 550px;
  padding: 10% 0 10% 0;
  z-index: 0;
}

.rules-btn {
  width: 30%;
  text-transform: uppercase;
  border: solid 2px #606e85;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #ddd;
  -webkit-transition: color 0.3s, border 0.3s;
  transition: color 0.3s, border 0.3s;
  cursor: pointer;
}

.rules-btn:hover {
  color: #fff;
  border: solid 2px #fff;
}

.button {
  border: none;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.button:hover {
  -webkit-transform: rotate(360deg) scale(1.05);
          transform: rotate(360deg) scale(1.05);
}

.paper,
.scissors,
.rock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer;
}

.paper {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

.scissors {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.rock {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

.paper:hover,
.scissors:hover,
.rock:hover {
  -webkit-box-shadow: 0px 0px 50px -4px #d9d9e0;
  box-shadow: 0px 0px 50px -4px #d9d9e0;
}

.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddd;
  padding: 10% 0 10% 0;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.rules__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #4c4a4a;
}

.rules__close-btn {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #4c4a4a;
  color: #ddd;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.rules__close-btn:hover {
  background-color: #747070;
}

.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */