* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#233753), to(#2f3160));
  background: linear-gradient(#233753, #2f3160);
  background-repeat: no-repeat;
  height: 100vh;
  padding: 5%;
  overflow: hidden;
}

.option-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 500px;
  top: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(#1f3756, #141539);
  border-radius: 15px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 3;
}

.option-container__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: solid 3px #606e85;
  border-radius: 25px;
  color: #ddd;
  text-transform: uppercase;
  -webkit-transition: color 0.3s, border 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, border 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, border 0.3s, opacity 0.3s, transform 0.3s;
  transition: color 0.3s, border 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.option-container__btn:hover {
  color: #bab5b5;
  border: solid 3px #ddd;
}

.inputs__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  height: 320px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d1a2b), to(#111469));
  background: linear-gradient(#0d1a2b, #111469);
  border-radius: 25px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.inputs__name {
  font-size: 2rem;
  line-height: 2rem;
  width: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3f6392), to(#3c3d6d));
  background: linear-gradient(#3f6392, #3c3d6d);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  outline: none;
  color: #ddd;
}

.material-icons {
  font-size: 5rem;
}

.started {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.container {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  width: 100%;
  height: 700px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(#1f3756, #141539);
  -webkit-box-shadow: 8px 8px 45px -1px #bebed8;
  box-shadow: 8px 8px 45px -1px #bebed8;
  padding: 5% 2%;
}

.attribution {
  margin-top: 5vh;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 3px #606e85;
  border-radius: 10px;
  width: 100%;
}

.logo__img {
  width: 70%;
}

.score-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddd;
  width: 25%;
  border-radius: 5px;
}

.score-panel__txt {
  color: #213799;
  text-transform: uppercase;
  font-size: 0.81rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.score-panel__score {
  font-size: 3rem;
  font-weight: 700;
  color: #3b4363;
}

.game-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25%;
          column-gap: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/bg-triangle.svg");
  width: 100%;
  max-width: 550px;
  padding: 29px 0 36px 0;
  margin-bottom: 4rem;
  z-index: 0;
  height: 320px;
}

.buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons__rules, .buttons__next, .buttons__reset, .buttons__enter {
  width: 30%;
  text-transform: uppercase;
  border: solid 2px #606e85;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #ddd;
  -webkit-transition: color 0.3s, border 0.3s;
  transition: color 0.3s, border 0.3s;
  cursor: pointer;
}

.buttons__rules:hover, .buttons__next:hover, .buttons__reset:hover, .buttons__enter:hover {
  color: #fff;
  border: solid 2px #fff;
}

.button {
  border: none;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.button:hover {
  -webkit-transform: rotate(360deg) scale(1.05);
          transform: rotate(360deg) scale(1.05);
}

.paper,
.scissors,
.rock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer;
}

.paper {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

.paper__btn {
  background-image: url("../img/icon-paper.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.scissors {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.scissors__btn {
  background-image: url("../img/icon-scissors.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.rock {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

.rock__btn {
  background-image: url("../img/icon-rock.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.paper:hover,
.scissors:hover,
.rock:hover {
  -webkit-box-shadow: 0px 0px 50px -4px #d9d9e0;
  box-shadow: 0px 0px 50px -4px #d9d9e0;
}

.pt25 {
  margin-top: 20%;
}

.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddd;
  padding: 10% 0 10% 0;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.rules__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #4c4a4a;
}

.rules__close-btn {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #4c4a4a;
  color: #ddd;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.rules__close-btn:hover {
  background-color: #747070;
}

.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.right {
  -webkit-transform: scale(1.3) translateX(45%);
          transform: scale(1.3) translateX(45%);
}

.left {
  -webkit-transform: scale(1.3) translateX(-45%);
          transform: scale(1.3) translateX(-45%);
}

.none {
  -webkit-transform: scale(0) translateX(120%);
          transform: scale(0) translateX(120%);
}

.none-left {
  -webkit-transform: scale(0) translateX(-120%);
          transform: scale(0) translateX(-120%);
}

.hide {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.weapon-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.small {
  height: 50px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  width: 100%;
}

.shadow {
  -webkit-box-shadow: 0px 0px 50px -4px #d9d9e0;
  box-shadow: 0px 0px 50px -4px #d9d9e0;
}

.cpu__container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14rem;
  height: 14rem;
  margin: 20px 0 50px 0;
  border-radius: 50%;
  background-color: lime;
  -webkit-box-shadow: 0px 0px 50px -4px #d9d9e0;
  box-shadow: 0px 0px 50px -4px #d9d9e0;
}

.cpu__btn {
  background-image: url("../img/icon-rock.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  border: none;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  -webkit-animation: randomImg infinite 1s;
          animation: randomImg infinite 1s;
  -webkit-transition: background-image 0.1s both;
  transition: background-image 0.1s both;
}

.result {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #b55b5b;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoom 0.3s 1 0.3s forwards;
          animation: zoom 0.3s 1 0.3s forwards;
  text-align: center;
  padding: 100px 0 100px 0;
}

@-webkit-keyframes randomImg {
  10% {
    background-image: url("../img/icon-paper.svg");
  }
  20% {
    background-image: url("../img/icon-scissors.svg");
  }
  30% {
    background-image: url("../img/icon-rock.svg");
  }
  40% {
    background-image: url("../img/icon-paper.svg");
  }
  50% {
    background-image: url("../img/icon-scissors.svg");
  }
  60% {
    background-image: url("../img/icon-rock.svg");
  }
  70% {
    background-image: url("../img/icon-paper.svg");
  }
  80% {
    background-image: url("../img/icon-scissors.svg");
  }
  90% {
    background-image: url("../img/icon-rock.svg");
  }
  100% {
    background-image: url("../img/icon-paper.svg");
  }
}

@keyframes randomImg {
  10% {
    background-image: url("../img/icon-paper.svg");
  }
  20% {
    background-image: url("../img/icon-scissors.svg");
  }
  30% {
    background-image: url("../img/icon-rock.svg");
  }
  40% {
    background-image: url("../img/icon-paper.svg");
  }
  50% {
    background-image: url("../img/icon-scissors.svg");
  }
  60% {
    background-image: url("../img/icon-rock.svg");
  }
  70% {
    background-image: url("../img/icon-paper.svg");
  }
  80% {
    background-image: url("../img/icon-scissors.svg");
  }
  90% {
    background-image: url("../img/icon-rock.svg");
  }
  100% {
    background-image: url("../img/icon-paper.svg");
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=main.css.map */