* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
body {
	background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	background-repeat: no-repeat;
	height: 100vh;
	padding: 5%;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.attribution {
	margin-top: 5vh;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.header {
	display: flex;
	flex-direction: row;
	padding: 3%;
	justify-content: space-between;
	align-items: center;
	border: solid 3px rgb(96, 110, 133);
	border-radius: 10px;
	width: 100%;
}
.logo {
	&__img {
		width: 70%;
	}
}
.score-panel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #ddd;
	width: 25%;
	border-radius: 5px;

	&__txt {
		color: rgb(33, 55, 153);
		text-transform: uppercase;
		font-size: 0.81rem;
		font-weight: 600;
		margin-top: 0.2rem;
	}
	&__score {
		font-size: 3rem;
		font-weight: 700;
		color: hsl(229, 25%, 31%);
	}
}
.game-field {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10%;
	justify-content: center;
	height: 65vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../img/bg-triangle.svg');
	width: 100%;
	max-width: 550px;
	padding: 10% 0 10% 0;
	z-index: 0;
}

.rules {
	width: 30%;
	text-transform: uppercase;
	border: solid 2px rgb(96, 110, 133);
	border-radius: 10px;
	padding: 0.5rem 1rem;
	background-color: transparent;
	color: #ddd;
}
.button {
	border: none;
	border-radius: 50%;
	width: 6.5rem;
	height: 6.5rem;
	cursor: pointer;
	transition: transform 0.5s;
	&:hover {
		transform: rotate(360deg) scale(1.05);
	}
}

.paper,
.scissors,
.rock {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	transition: box-shadow 0.3s;
	cursor: pointer;
}

.paper {
	background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.scissors {
	background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.rock {
	background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
.paper:hover,
.scissors:hover,
.rock:hover {
	-webkit-box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
	-moz-box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
	box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
}
