* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
body {
	position: relative;
	background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	background-repeat: no-repeat;
	height: 100vh;
	padding: 5%;
	overflow: hidden;
}
.option-container {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	max-width: 500px;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	border-radius: 15px;
	transition: transform 0.3s;
	transition-delay: 1s;
	z-index: 3;
	&__btn {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 150px;
		height: 150px;
		background-color: transparent;
		border: solid 3px rgb(96, 110, 133);
		border-radius: 25px;
		color: #ddd;
		text-transform: uppercase;
		transition: color 0.3s, border 0.3s, opacity 0.3s, transform 0.3s;
		cursor: pointer;
		&:hover {
			color: rgb(186, 181, 181);
			border: solid 3px #ddd;
		}
	}
}
.material-icons {
	font-size: 5rem;
}
.started {
	transform: scale(0);
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
}
.attribution {
	margin-top: 5vh;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.header {
	display: flex;
	flex-direction: row;
	padding: 3%;
	justify-content: space-between;
	align-items: center;
	border: solid 3px rgb(96, 110, 133);
	border-radius: 10px;
	width: 100%;
}
.logo {
	&__img {
		width: 70%;
	}
}
.score-panel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #ddd;
	width: 25%;
	border-radius: 5px;

	&__txt {
		color: rgb(33, 55, 153);
		text-transform: uppercase;
		font-size: 0.81rem;
		font-weight: 600;
		margin-top: 0.2rem;
	}
	&__score {
		font-size: 3rem;
		font-weight: 700;
		color: hsl(229, 25%, 31%);
	}
}
.game-field {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10%;
	justify-content: center;
	height: 55vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../img/bg-triangle.svg');
	width: 100%;
	max-width: 550px;
	padding: 10% 0 10% 0;
	z-index: 0;
}
.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__rules,
	&__next,
	&__reset {
		width: 30%;
		text-transform: uppercase;
		border: solid 2px rgb(96, 110, 133);
		border-radius: 10px;
		padding: 0.5rem 1rem;
		background-color: transparent;
		color: #ddd;
		transition: color 0.3s, border 0.3s;
		cursor: pointer;
		&:hover {
			color: #fff;
			border: solid 2px #fff;
		}
	}
}

.button {
	border: none;
	border-radius: 50%;
	width: 6.5rem;
	height: 6.5rem;
	cursor: pointer;
	transition: transform 0.5s;
	&:hover {
		transform: rotate(360deg) scale(1.05);
	}
}

.paper,
.scissors,
.rock {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9rem;
	height: 9rem;
	border-radius: 50%;
	transition: box-shadow 0.3s;
	cursor: pointer;
}

.paper {
	background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	&__btn {
		background-image: url('../img/icon-paper.svg');
		background-repeat: no-repeat;
		background-size: 60%;
		background-position: center;
	}
}
.scissors {
	background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	&__btn {
		background-image: url('../img/icon-scissors.svg');
		background-repeat: no-repeat;
		background-size: 60%;
		background-position: center;
	}
}
.rock {
	background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
	&__btn {
		background-image: url('../img/icon-rock.svg');
		background-repeat: no-repeat;
		background-size: 60%;
		background-position: center;
	}
}
.paper:hover,
.scissors:hover,
.rock:hover {
	-webkit-box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
	-moz-box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
	box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
}

.rules {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ddd;
	padding: 10% 0 10% 0;
	transform: translateY(-100vh);
	transition: transform 0.3s;
	&__title {
		font-size: 3rem;
		text-transform: uppercase;
		color: rgb(76, 74, 74);
	}
	&__close-btn {
		font-size: 2rem;
		text-transform: uppercase;
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 10px;
		background-color: rgb(76, 74, 74);
		color: #ddd;
		transition: background-color 0.3s;
		&:hover {
			background-color: rgb(116, 112, 112);
		}
	}
}

.active {
	transform: translateY(0);
}

.right {
	transform: scale(1.3) translateX(50%);
}
.left {
	transform: scale(1.3) translateX(-50%);
}
.none {
	transform: scale(0) translateX(120%);
}
.none-left {
	transform: scale(0) translateX(-120%);
}
.weapon-choice {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
}
.small {
	height: 50px;
	transform: scale(0.5);
	width: 100%;
}
.shadow {
	-webkit-box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
	-moz-box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
	box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
}
.cpu {
	&__container {
		align-self: center;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 14rem;
		height: 14rem;
		border-radius: 50%;
		background-color: lime;
		-webkit-box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
		-moz-box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
		box-shadow: 0px 0px 50px -4px rgba(217, 217, 224, 1);
	}
	&__btn {
		background-image: url('../img/icon-rock.svg');
		background-repeat: no-repeat;
		background-size: 60%;
		background-position: center;
		border: none;
		border-radius: 50%;
		width: 10rem;
		height: 10rem;
		animation: randomImg infinite 1s;
		transition: background-image 0.1s both;
	}
}
.result {
	align-self: center;
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 900;
	color: rgb(181, 91, 91);
	transform: scale(0);
	animation: zoom 0.3s 1 0.3s forwards;
}
@keyframes randomImg {
	10% {
		background-image: url('../img/icon-paper.svg');
	}
	20% {
		background-image: url('../img/icon-scissors.svg');
	}
	30% {
		background-image: url('../img/icon-rock.svg');
	}
	40% {
		background-image: url('../img/icon-paper.svg');
	}
	50% {
		background-image: url('../img/icon-scissors.svg');
	}
	60% {
		background-image: url('../img/icon-rock.svg');
	}
	70% {
		background-image: url('../img/icon-paper.svg');
	}
	80% {
		background-image: url('../img/icon-scissors.svg');
	}
	90% {
		background-image: url('../img/icon-rock.svg');
	}
	100% {
		background-image: url('../img/icon-paper.svg');
	}
}
@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
